body{
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: 40% 60%;
}

.grid-1{
    display: flex;
    flex-direction: column;

    max-width: 832px;
    height: auto;
}

.grid > .grid-1 > .bild-1{
    width: 50%;
    height: 50%;
}